<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh_CN</string>
  <key>CFBundleExecutable</key>
  <string>kikibridge</string>
  <key>CFBundleIconName</key>
  <string>AppIcon</string>
  <key>CFBundleIdentifier</key>
  <string>org.kikibridge.KikiBridge</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>KikiBridge</string>
  <key>CFBundleDisplayName</key>
  <string>KikiBridge</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.7.16</string>
  <key>CFBundleVersion</key>
  <string>0.7.16</string>
  <key>LSMinimumSystemVersion</key>
  <string>27.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>UIDesignRequiresCompatibility</key>
  <false/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSLocalNetworkUsageDescription</key>
  <string>KikiBridge 需要访问局域网以连接 deck、pc 或 surface。</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 KikiBridge contributors. GPL-3.0-or-later.</string>
</dict>
</plist>
